<h3>Highest bid</h3>
<div class="row collapse">
  <div class="small-2 columns"><span class="prefix">$</span></div>
  <div class="small-10 columns"><%= text_field_tag :nothing, bid.highest_bid_amount, disabled: true, id: "highest-bid" %></div>
</div>
